/* Variable declaration */
:root{
    --main-colour: #294a57;
    --secondary-colour: #91AEC1;
    --tertiary-colour: #BFD7EA;
    --accent-colour: #0ea86b;
    --secondary-accent-colour: #027442;
    --default-padding: 10px;
}

/* || Element selectors */

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main-colour);
    line-height: 1.5em;
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    justify-content:space-evenly;
    background-color: var(--secondary-colour);
    padding: var(--default-padding);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

h1{
    font-size: 3em;
    line-height: 2em;
}

h2{
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
}

button{
    background-color: var(--accent-colour);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover{
    background-color: var(--secondary-accent-colour);
    color: white;
}

form{
    line-height: 4em;
}

form button{
    padding: 5px 40px;
}

form input{
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: var(--tertiary-colour);
}

/* || Class selectors */

.column, .row{
    display: flex;
}

.column{
    flex-direction: column;
    align-items: center;
}

.row{
    flex-direction: row;
}

/* ID selectors */

#startSection > *{
    margin: 10px;
    /* display: none; */
}

#quizSection{
    display: none;
}

#answers li{
    cursor: pointer;
    background-color: var(--accent-colour);
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px 10px;
    margin: 5px;
}

#answers li:hover{
    background-color: var(--secondary-accent-colour);
    color: white;
}

#scoreSection{
    display: none;
}

#highscoreSection{
    line-height: 4em;
    display: none;
}